/*-----------------------------------*\
 * #GOOGLE FONTS
\*-----------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*-----------------------------------*\
 * #COLOR VARIABLES
\*-----------------------------------*/
:root {
    --black: #000000;
    --black-60: rgba(0, 0, 0, 0.6);
    --yellow: #FFC633;
    --white: #FFFFFF;
    --black-20: rgba(0, 0, 0, 0.2);
    --black-10: rgba(0, 0, 0, 0.1);
    --light-gray: #F0F0F0;
    --black-40: rgba(0, 0, 0, 0.4);
    --light-beige: #F0EEED;
    --black-50: rgba(0, 0, 0, 0.5);
    --red: #FF3333;
    --red-10: rgba(255, 51, 51, 0.1);
    --black-06: rgba(0, 0, 0, 0.06);
    --green: #00C12B;
    --blue: #063AF5;
    --light-blue: #06CAF5;
    --purple: #7D06F5;
    --pink: #F50606;
    --light-pink: #F506A4;
    --orange: #F57906;
    --yellow-orange: #F5DD06;
    --p-color: #00000099;
    --main-duration: 0.3s;
}

/* BASIC RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
}

::selection {
    user-select: none;
}

/*-----------------------------------*\
 * #header-top
\*-----------------------------------*/
.header-top {
    background-color: var(--black);
    height: 38px;
    padding: 9px 100px 9px 544px;
    color: #e1dfdf;
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.header-top i {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}

.header-top a {
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}

.header-top a:hover {
    color: var(--light-beige);
}

/*-----------------------------------*\
 * #navbar
\*-----------------------------------*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .logo h1 {
    color: var(--black);
    font-family: 'Arial Black', 'Impact', sans-serif;
    font-size: 38px;
    letter-spacing: -0.08em;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.nav-links li a {
    color: var(--black);
    font-size: 16px;
    transition: .2s;
}

.nav-links li i {
    color: var(--black);
    margin-left: 5px;
    transition: .2s;
}

.nav-links li a:hover,
.nav-links li:hover i {
    color: var(--black-60);
}

.search-bar {
    position: relative;
}

.search-bar input {
    border: 1px solid #ddd;
    border-radius: 62px;
    background: var(--light-gray);
    font-size: 16px;
    display: flex;
    padding: 10px 16px;
    width: 570px;
    padding-left: 45px;
}

.search-bar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    left: 16px;
    color: #bfbfbf;
}

.search-bar input:focus {
    outline: 1px solid #ddd;
}

.icons a {
    margin-left: 10px;
    font-size: 20px;
    color: #333;
}

/*-----------------------------------*\
 * #Hero Section
\*-----------------------------------*/
.hero {
    background-image: url("../images/Rectangle-2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    height: 660px;
    position: relative;
}

.hero-text,
.statistics {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin-left: 45px;
}

.hero-text h1 {
    font-family: 'Arial Black', 'Impact', sans-serif;
    font-weight: 700;
    letter-spacing: -0.05em;
    color: var(--black);
    font-size: 64px;
}

.hero-text p {
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.hero-text .btn {
    display: flex;
    width: 210px;
    height: 52px;
    padding: 16px 54px;
    margin: 32px 0 48px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 62px;
    background: var(--black);
    color: var(--white);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3),
        0 4px 8px rgba(255, 255, 255, 0.1) inset;
    transition: all 0.3s ease-in-out;
}

.hero-text .btn:hover {
    box-shadow: 0 20px 80px -10px rgba(0, 0, 0, 0.9);
}

.statistics {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.stat {
    text-align: center;
    margin-right: 10px;
}

.contet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.contet span {
    font-size: 50px;
    font-weight: 500;
    position: relative;
    bottom: 15px;
}

.box .number {
    font-size: 2em;
    margin-bottom: 10px;
}

.stat h2 {
    color: var(--black);
    font-size: 40px;
    font-weight: 700;
}

.stat p {
    color: var(--p-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}

.svg-img .svg-small {
    position: absolute;
    top: 50%;
    left: 50%;
}

.svg-img .svg-large {
    position: absolute;
    top: 15%;
    right: 5%;
}

/*-----------------------------------*\
 * #Dropdown Navbar
\*-----------------------------------*/
.category-list {
    position: absolute;
    left: -15px;
    top: 25px;
    z-index: 9999;
    flex-direction: column;
    padding: 10px;
    gap: 7px;
    width: 100px;
    background-color: #ffffffad;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: opacity 0.4s linear, transform 0.4s linear, filter 0.4s linear;
}

.nav-links li:hover .category-list {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    width: 100px;
}

.nav-links li a.active:hover+.category-list {
    display: block;
}

.category-list li {
    color: var(--black);
    font-size: 17px;
}

.category-list a {
    font-family: Arial, sans-serif;
    color: var(--black);
    transition: all var(--main-duration);
    -webkit-transition: all var(--main-duration);
    -moz-transition: all var(--main-duration);
    -ms-transition: all var(--main-duration);
    -o-transition: all var(--main-duration);
}

.category-list a:hover {
    color: var(--black-60);
}

/*-----------------------------------*\
 * #Brand Sliding
\*-----------------------------------*/
.container-sliding {
    overflow: hidden;
    background: var(--black);
    padding: 10px 0;
    white-space: nowrap;
    cursor: pointer;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--white);
    padding: 0 56px;
    margin-top: 30px;
}

/*-----------------------------------*\
 * #Browse by Dress Style 
\*-----------------------------------*/

.frame{
    border-radius: 40px;
    background: #F0F0F0;
    margin:100px auto 121px;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:71px 64px 76px;
    width:fit-content;
}

.style-item p{
    position: relative;
    overflow-wrap: break-word;
    font-family: 'Satoshi', 'Roboto Condensed';
    font-weight: 700;
    font-size: 36px;
    color: #000000;
}

.dress-styles h2 {
    margin-bottom: 65px;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Integral CF', 'Roboto Condensed';
    font-weight: 700;
    font-size: 48px;
    color:var(--black);
}

.style-item.formal{
    border-radius: 20px;
    background:var(--white);
    position:relative;
    padding:28.5px 36px 218.5px;
    width: 684px;
}

.style-item.casual{
    border-radius: 20px;
    background:var(--white);
    position:relative;
    margin-right:20px;
    padding:28.5px 36px 36px;
    width:407px;
    height:289px;
}

.style-item.party{
    border-radius: 20px;
    background: var(--white);
    position: relative;
    margin-right: 20px;
    padding: 28.5px 36px 218.5px;
    width: 684px;

}

.style-item.gym{
    border-radius: 20px;
    background:var(--white);
    position:relative;
    margin-right:20px;
    padding:28.5px 36px 0 36px;
    width:407px;
    height:289px;
}

.style-item.party.img-party{
    background: url('/assets/images/images2/image_12.png') 50% / cover no-repeat;
    position: absolute;
    right: -128px;
    bottom: -164px;
    width: 770px;
    height: 616px;
}

.style-item.gym.img-gym {
    background: url('/assets/images/images2/image_12.png') 50% / cover no-repeat;
    position: absolute;
    right: -98px;
    bottom: -240px;
    width: 452px;
    height: 677px;
}

.style-item.casual.img-casual{
    background-image: url('/assets/images/images2/image_11.png') 50% / cover no-repeat;
    position: absolute;
    left: -403px;
    top: -167px;
    width: 973px;
    height: 649px;
}

.style-item.formal.img-formal{
    background-image: url("/assets/images/images2/image_13.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -146px;
    right: -622px;
    width: 1306px;
    height: 870px;
}

.container-style-1{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: fit-content;
}

.container-style-2{
    display: flex;
    flex-direction: row;
    width: fit-content;
}

/*-----------------------------------*\
 * #customers reviews
\*-----------------------------------*/

.container-title{
    margin: 0 102.6px 41px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1237.4px;
}

.our-happy-customers{
    margin-right: 28px;
    width: 654px;
    overflow-wrap: break-word;
    font-family: 'Integral CF', 'Roboto Condensed';
    font-weight: 700;
    font-size: 48px;
    color:var(--black);
}

.container-arrows{
    margin: 37.1px 0 3.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 58.8px;
    height: fit-content;
}

.arrow-lift, .arrow-right{
    width: 22.6px;
    height: 22.6px;
}

.container-reviews{
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    width: 2080px;
}

.frame-card{
    border-radius: 20px;
    border: 1px solid var(--black-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 31px;
    width: 400px;
}

.stars{
    margin-bottom: 17.3px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    column-gap: 6.5px;
    width: 138.8px;
    margin-top: 10px;
}

.star-1{
    width: 22.6px;height: 22.6px;
}

.content{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: fit-content;
}

.frame-name{
    margin-bottom: 9.5px;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
}

.text{
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.375;
    padding: 15px;
    color: var(--black);
}

.green-icon{
    margin-bottom: 4.7px;
    display: flex;
    width: 24px;
    height: 24px;
}



/*-----------------------------------*\
 * #Start Footer
\*-----------------------------------*/
/*-----------------------------------*\
 * #Start Sub board
\*-----------------------------------*/
.main-board {
    position: relative;
    margin-bottom: -55px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

@media (max-width: 992px) {
    .main-board {
        margin-bottom: -120px;
    }
    .footer-col-all {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

}
@media (min-width: 993px) {
    .footer-col-all {
        display:contents; 
    }

}

.main-board .container .sub-board {
    background: var(--black);
    border-radius: 20px;
    display: flex;
    padding: 2.25rem 4rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main-board .container .sub-board p {
    color: var(--white);
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: 45px;

}

.main-board .container .sub-board form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.875rem;

}

@media (max-width: 768px) {
    .main-board .container .sub-board {
        padding: 15px;
    }

    .main-board .container .sub-board p {
        padding: 10px;
        font-size: 2rem;
    }

    .main-board .container .sub-board form {
        width: 100%;
    }
}

.main-board .container .sub-board input[placeholder] {
    text-align: center;
}

.main-board .container .sub-board input,
.boardSubBtn {
    gap: 10px;
    padding: 0.75rem 1rem;
    border-radius: 60px;
    width: 100%;
    outline: none;
    position: relative;
}

/*-----------------------------------*\
 * #End Sub board
\*-----------------------------------*/
footer {
    margin-top: 200px;
    padding-bottom: 30px;
    background: var(--light-gray);
    position: relative;
}

footer .hr {
    border-bottom: 1px solid #0000001A;
    padding-bottom: 2rem;
    margin-bottom: 1.56rem;
}
@media (max-width: 575px){
    .social-media {
        margin-bottom: 30px;
    }
    .logo-div {
        width: 95%;
    }
    .payment {
        display: flex;
        flex-wrap: wrap;
    }
}
@media (max-width: 790px) {
    .footer-col-all {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
footer .footer-logo {
    color: var(--black);
    font-family: 'Arial Black', 'Impact', sans-serif;
    font-size: 38px;
    letter-spacing: -0.08em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 0;
}

footer .logo-div p {
    color: var(--p-color);
}

footer .f-header {
    color: #000;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.125rem;
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
}
footer .footer-col li a {
    color: var(--p-color);
    font-size: 14px;
    transition: var(--main-duration);
    -webkit-transition: var(--main-duration);
    -moz-transition: var(--main-duration);
    -ms-transition: var(--main-duration);
    -o-transition: var(--main-duration);
}

footer .footer-col li a:hover {
    color: var(--black);
    padding-left: 5px;
}

footer .last-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*-----------------------------------*\
 * #End Footer
\*-----------------------------------*/